---
import { GITHUB_URL, DISCORD_URL, TWITCH_URL } from '@/config'
import symbol from './icons/symbol.svg?raw'
import discord from './icons/discord.svg?raw'
import github from './icons/github.svg?raw'
import twitch from './icons/twitch.svg?raw'
---

<hr
  class='container mx-auto h-px w-full border-none bg-gradient-to-r from-transparent via-link to-transparent mb-10'
/>
<footer class='relative w-screen h-56 lg:h-[350px] overflow-hidden'>
  <img
    src='/footer-graphic.jpeg'
    class='absolute inset-0 h-56 lg:h-[470px] w-screen object-cover object-bottom z-0'
  />
  <div class='footer-fade'></div>
  <div class='flex flex-col items-center mx-auto gap-4 relative z-10'>
    <Fragment set:html={symbol} />
    <p>
      © {new Date().getFullYear()} - Creatures.dev, <a
        href='https://twitter.com/nikolovlazar'
        rel='external nofollow'
        class='text-link hover:underline'>Lazar Nikolov</a
      >
    </p>
    <nav aria-labelledby='footer-links' class='flex items-center gap-8'>
      <a class='hover:underline' href='/about'>About</a>
      <a class='hover:underline' href={GITHUB_URL} rel='external nofollow'
        >Code</a
      >
    </nav>
    <nav aria-labelledby='footer-social-links' class='flex items-center gap-8'>
      <a class='hover:underline' href={DISCORD_URL} rel='external nofollow'>
        <Fragment set:html={discord} />
      </a>
      <a class='hover:underline' href={GITHUB_URL} rel='external nofollow'
        ><Fragment set:html={github} /></a
      >
      <a class='hover:underline' href={TWITCH_URL} rel='external nofollow'
        ><Fragment set:html={twitch} /></a
      >
    </nav>
  </div>
</footer>

<style>
  .footer-fade {
    @apply absolute inset-0 z-10;
    background: linear-gradient(
      180deg,
      rgba(2, 2, 9, 0.98) 8%,
      rgba(2, 2, 9, 0.27) 100%
    );
  }
</style>
