---
import { Image } from 'astro:assets'
import { GITHUB_URL, DISCORD_URL, TWITCH_URL, RSS_URL } from '@/config'
import symbol from './icons/symbol.svg?raw'
import discord from './icons/discord.svg?raw'
import github from './icons/github.svg?raw'
import twitch from './icons/twitch.svg?raw'
import footer from '@/assets/footer-graphic.jpeg'
---

<hr
  class='container mx-auto h-px w-full border-none bg-gradient-to-r from-transparent via-link to-transparent mb-10'
/>
<footer
  class='relative w-screen h-56 lg:h-[350px] overflow-hidden flex flex-col items-center mx-auto gap-4'
>
  <Image
    src={footer}
    alt='Footer graphic'
    class='absolute inset-0 h-56 lg:h-[470px] w-screen object-cover object-bottom'
  />
  <span class='footer-fade'></span>
  <span class='relative'><Fragment set:html={symbol} class='relative' /></span>
  <p class='relative'>
    © {new Date().getFullYear()} - Creatures.dev, <a
      href='https://twitter.com/nikolovlazar'
      rel='external nofollow'
      class='text-link hover:underline'>Lazar Nikolov</a
    >
  </p>
  <nav aria-labelledby='footer-links' class='flex items-center gap-8 relative'>
    <a class='hover:underline' href='/about/' aria-label='About link'>About</a>
    <a class='hover:underline' href='/blog/' aria-label='Blog link'>Blog</a>
    <a class='hover:underline' href={RSS_URL} aria-label='RSS link'>RSS</a>
    <a
      class='hover:underline'
      href={GITHUB_URL}
      aria-label='GitHub link'
      rel='external nofollow'>GitHub</a
    >
  </nav>
  <nav
    aria-labelledby='footer-social-links'
    class='flex items-center gap-8 relative'
  >
    <a
      class='hover:underline'
      href={DISCORD_URL}
      rel='external nofollow'
      aria-label='Discord link'
    >
      <Fragment set:html={discord} />
    </a>
    <a
      class='hover:underline'
      href={GITHUB_URL}
      rel='external nofollow'
      aria-label='GitHub link'><Fragment set:html={github} /></a
    >
    <a
      class='hover:underline'
      href={TWITCH_URL}
      rel='external nofollow'
      aria-label='Twitch link'><Fragment set:html={twitch} /></a
    >
  </nav>
</footer>

<style>
  .footer-fade {
    @apply absolute inset-0;
    background: linear-gradient(
      180deg,
      rgba(2, 2, 9, 0.98) 8%,
      rgba(2, 2, 9, 0.27) 100%
    );
  }
</style>
