---
import { type CollectionEntry, getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import { format } from 'date-fns'
import { featuredImages } from '@/utils/featured-images'

type Props = {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const featuredImage = featuredImages[post.data.image]

const author = await getEntry(
  post.data.author.collection,
  post.data.author.slug,
)
---

<article
  class='bg-panel border-2 border-border overflow-hidden hover:bg-panel-hover transition-colors p-3 rounded-xl relative @container gap-3'
>
  <div class='@3xl:flex @3xl:items-center'>
    <div
      class='aspect-video relative w-full rounded-xl mb-3 @3xl:mb-0 @3xl:order-2 overflow-hidden after:bg-noise-texture after:absolute after:inset-0 after:bg-auto after:bg-repeat after:opacity-[0.8] after:mix-blend-overlay'
    >
      <Image
        class='absolute w-full h-full'
        alt={`The ${post.data.title} article featured image`}
        src={featuredImage}
      />
      <span class='absolute text-white font-heading text-sm top-6 left-6'
        >creatures.dev</span
      >
    </div>
    <div class='w-full p-4 flex flex-col gap-3 @3xl:gap-6 @3xl:pr-20'>
      <div class='flex items-center gap-1.5'>
        <a
          href={`/authors/${post.data.author.slug}/`}
          class='flex items-center gap-1.5 z-10 text-link font-medium hover:underline hover:underline-offset-2'
        >
          <img
            class='rounded-full'
            width='18'
            height='18'
            alt={`A photo of ${author.data.name}`}
            src={author.data.avatar.src}
          />
          <p class='text-sm @3xl:text-lg text-tertiary'>
            {author.data.username}
          </p>
        </a>
        <hr class='flex-1 border-border' />
        <p class='text-sm @3xl:text-lg text-tertiary'>
          {
            format(
              post.data.publishDate,
              post.data.publishDate.getFullYear() < new Date().getFullYear()
                ? 'MMM d yyy'
                : 'MMM d',
            )
          }
        </p>
      </div>
      <h4 class='font-heading text-2xl @3xl:text-4xl'>{post.data.title}</h4>
      <p class='text-sm @3xl:text-lg text-secondary line-clamp-3'>
        {post.data.excerpt.trim().slice(0, 320)}
      </p>
      <a
        href={`/blog/${post.slug}`}
        class='text-link @3xl:text-lg font-medium hover:underline hover:underline-offset-2 after:content-[" "] after:absolute after:inset-0'
        >Read on -&gt;</a
      >
    </div>
  </div>
</article>
